---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
You can download an integrated visualization tool that includes several of the following components:<br>
<a href="https://github.com/hanxiaowein1/charles_mesh/releases/tag/v0.2">Compiled toolkit</a>

<hr>

<h2>Marching Cubes 33</h2>
<a href="https://github.com/hanxiaowein1/hello_cg">Repository</a>
<hr>

<h2>Half-edge Based Mesh Library</h2>
<a href="https://github.com/hanxiaowein1/charles_mesh">Repository</a>
<br>
<b>features:</b> edge flip/collapse, bvh, mesh simplification by QEM, ...

<hr>
<h2>Triangle Mesh Viewer</h2>
<a href="https://github.com/hanxiaowein1/hello_opengl">Repository</a>
<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
 -->
